PORT=3000
DATABASE_FILE=./data/towercrane-catalog.sqlite

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_S3_BUCKET_NAME=your-bucket-name
AWS_S3_REGION=ap-northeast-2

# AI Configuration
GEMINI_API_KEY=
OPENAI_API_KEY=
